.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
}

body {
    background-color: rgb(253, 213, 220);
}